* {
    padding: 0;
}

body {
    margin: 0;
    min-height: 770px;
    min-width: 500px;
    text-align: center;
    max-width: 1440px;/*background: #fff991e0;*/
    background: #ffffffe0;
}

h1 {
    color: rgb(245, 245, 245);
    font-size: 25px;
    background: gray;
}

h2 {
    margin: 0;
    max-height: 30px;
    background: inherit;
    color: black;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 15px;
}

h3 {
    font-weight: normal;
    margin-top: 115px;
    font-size: 15px;
    background-color: inherit;
    margin-bottom: 0;
}

.up {
    margin-top: -17px;
    min-width: 500px;
    height: 30px; /* Aumentar a altura do container para dar mais espaço ao título */
    background-color: gray;
}

.container-plus {
    display: flex;
    justify-content: space-between; /* Alinha os itens no eixo horizontal */
    align-items: flex-start; /* Alinha os itens no eixo vertical */
    max-width: 1500px;
    min-height: 280px;
    padding: 20px;
    background-color: transparent; /* Faz o fundo do container-plus transparente */
}

.content {
    flex: 2; /* Tamanho do conteúdo */
    min-height: 200px;
    border-radius: 25px;
    background-color: rgb(255, 252, 172);
}

.content p {
    margin-top: -20px;
    font-weight: bold;
    font-size: 15px;
}

.img {
    flex: 1; /* Tamanho da imagem */
    text-align: center;
    background: inherit;
}

.img img {
    max-width: 100%; /* A imagem não excederá o tamanho do seu contêiner */
    height: auto;
    background: inherit;
    min-width: 200px;
    min-height: 150px;
}


.img p {
    font-size: 14px;
    margin-top: 10px;
    background: inherit;
}

.button-container {
    margin-top: 30px;
    max-height: 40px;
    background-color: inherit;
    max-width: 1250px;
    justify-content: center;
    display: flex;
}

.button {
    min-height: 55px;
    max-height: 200px;
    max-width: 500px;
    background-color: inherit;
}

.tap-button {
    margin: 10px;
    background-color: rgb(220, 176, 255);
    min-width: 100px;
    min-height: 35px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    height: 32px;
    margin-top: 325px;
    background-color: gray; 
    border: 1px solid gray;
}

.heart {
    color: red;
}

.parenteses {
    color: gray;
}

@media (max-width: 600px) {
    .footer {
        margin-top: 534px;
    }
}

h4 {
    justify-content: center;
    display: flex;
    margin-top: 5px;
    font-weight: normal;
    text-decoration: none;
    background-color: inherit;
    color: white;
}

h5 {
    font-weight: bold;
    margin-top: 60px;
    font-size: 15px;
    unicode-bidi: isolate;
    text-align: center;
    border-radius: 25px;
}