* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: auto;
    width: 100%;
    text-align: center;
    max-width: 1440px;/*background: #fff991e0;*/
    background: #ffffffe0;
}

h1 {
    color: white;
    font-size: 25px;
    background: gray;
}

h2 {
    margin: 0;
    max-height: 30px;
    background: inherit;
    color: black;
    border: 1px solid rgba(151, 151, 151, 0.596);
    border-radius: 15px;
}

input {
    border-radius: 5px;
    margin-top: 115px;
    background: rgba(212, 159, 255, 0.747);
    margin-bottom: 0;
}

select {
    border-radius: 5px;
    background: rgb(220, 176, 255);
    margin-bottom: 0;
    cursor: pointer;
}

.h3 {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    height: 21px;
    margin-bottom: 24px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 18px;
    width: 150px;
    border-radius: 8px;
    background-color: rgb(220, 176, 255);
}

header {
    margin-top: -17px;
    width: 100%;
    height: 30px; /* Aumentar a altura do container para dar mais espaço ao título */
    background-color: gray;
}

.container-plus {
    display: flex;
    justify-content: space-between; /* Alinha os itens no eixo horizontal */
    align-items: flex-start; /* Alinha os itens no eixo vertical */
    max-width: 1500px;
    min-height: 280px;
    padding: 20px;
    background-color: transparent; /* Faz o fundo do container-plus transparente */
}

.content {
    flex: 2; /* Tamanho do conteúdo */
    min-height: 200px;
    border-radius: 25px;
    background-color: rgb(255, 252, 172);
}

/*@media (max-width: 600px) {
    .content {
    }
}
*/

.content p {
    margin-top: -20px;
    font-weight: bold;
    font-size: 15px;
}

.img {
    flex: 1; /* Tamanho da imagem */
    text-align: center;
    background: inherit;
}

.img img {
    max-width: 100%; /* A imagem não excederá o tamanho do seu contêiner */
    height: auto;
    background: inherit;
    min-width: 200px;
    min-height: 150px;
}

/*@media (max-width: 600px) {
    .img {
        margin-right: 100px;
        margin-top: 400px;
    }
}
*/

.img p {
    font-size: 14px;
    margin-top: 10px;
    background: inherit;
}

.button-container {
    margin-top: 30px;
    max-height: 40px;
    background-color: inherit;
    max-width: 1250px;
    justify-content: center;
    display: flex;
}

.button {
    min-height: 55px;
    max-height: 200px;
    max-width: 500px;
    background-color: inherit;
}

.tap-button {
    margin: 10px;
    background-color: rgb(220, 176, 255);
    min-width: 100px;
    min-height: 35px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    cursor: pointer;
}

footer {
    height: 32px;
    margin-top: 286px;
    background-color: gray; 
    border: 1px solid gray;
}

.heart {
    color: red;
}

.ponto {
    color: gray;
}

/*@media (max-width: 600px) {
    .footer {
        margin-top: 534px;
    }
}
*/

h4 {
    justify-content: center;
    display: flex;
    margin-top: 5px;
    font-weight: normal;
    text-decoration: none;
    background-color: inherit;
    color: white;
}

h5 {
    font-weight: bold;
    margin-top: 60px;
    font-size: 15px;
    unicode-bidi: isolate;
    text-align: center;
    border-radius: 25px;
}

@media (max-width: 700px) {

    * {
        max-width: 800px;
        max-height: 700px;
    }

    body {
        max-width: 812px;
    }

    header {
        width: auto;
        margin-bottom: 17;
    }

    h1 {
        width: auto;
    }

    .container-plus {
    /*justify-content: space-between; /* Alinha os itens no eixo horizontal */
    align-items: center; /* Alinha os itens no eixo vertical */
    width: 100%;
    min-height: 280px;
    padding: 0px;
    background-color: transparent;
    }

    .content {
        top: 35px;
        right: 0;
        left: 0;
        position: absolute;
        flex: 1;
        width: 100%;
    }

    .button-cantainer {
        max-width: 600px;
    }

    .img {
        margin-top: 400px;
        margin-left: 0px;
    }

    footer {
        margin-top: 62px;
        max-width: 400px;
    }
}